
html{
    background-color: gray;
}

.cabecera {
    text-align: center;
    position: absolute;
  top: 35%;
  left: 55%; 
  transform: translate(-50%, -50%) rotate(-19deg);

    
}


.contenedor-imagen{
    display: flex;
    justify-content: center;
    padding: 1rem;
    

   
}



  



.lacasa{
   text-align: center;
    font-family: 'Great Vibes', cursive;
    margin: 0 auto;
    font-size: 1.5rem;
    animation: rotate-animation 2s ease-in-out;
    display: inline-block;
    position: relative; 
}
    @keyframes rotate-animation {
        0% {
          transform: rotate(0deg);
        }
        50% {
          transform: rotate(6deg);
        }
        100% {
          transform: rotate(0deg);
        }
      }
    

span{
    font-size: 2.5rem;
    color: rgb(30, 66, 101);
}

.lacasa:after{

    content: " ";
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: rgb(154, 110, 156);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.6s ease-out;
}
.lacasa:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;

}


.titulo{
    
    color: rgb(77, 72, 67);
    font-size: 1.5rem;
  display: inline-flexbox;
    position: relative;
}

.titulo:after{

    content: " ";
    position: absolute;
    width:20%;
    height: 5px;
    bottom: 0 ;
    left: 582px;
    background-color: rgb(209, 130, 213);
    transform: scaleY(0);
    transform-origin: bottom left;
    transition: transform 0.6s ease-out;
}
.titulo:hover:after{
    transform: scaleY(1);
    transform-origin: bottom right;
}












.navegacion2{
    display: flex;
    justify-content: space-evenly;
}

.navegacion2 {
    
    text-decoration: none; 
    text-transform: uppercase; 
     
    padding: 0.5rem ;  
    margin-top: 1rem;
}



    


.inicio:hover{
    background-color: aqua;
    font-size: 1.5rem;
    color: yellow;
}

